# Set docker project name (will be prefix to network)
COMPOSE_PROJECT_NAME=persistent-stack

# Set current user id and group id for volume-mapping
UID_GID=1000:1000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=hh-ielts
DB_USERNAME=sail
DB_PASSWORD=password
FORWARD_DB_PORT=3306


REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
FORWARD_REDIS_PORT=6379